* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: #333333
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  max-width: 800px;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: 'center'
}